:root {
	--light-grey-1: #E4E4E4; 
	--light-grey-2: #F8F8F8; 
	--light-grey-3: #CCCCCC; 
	--light-green-1: #A8D3DD; 
}

body {
	height: 100%;
}

#root > div {
	height: 100%;
}
		
.link-hover {
	cursor: pointer;	
}

.hidden {
	display: none;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style-type: none;
}

.msg-bubble {
	border-radius: 20px;
}

.me-bubble-color {
	background-color: var(--light-grey-1);
}

.them-bubble-color {
	background-color: var(--light-green-1);
}

.bg-light-grey-1 {
	background-color: var(--light-grey-2);
}

.bg-light-grey-3 {
	background-color: var(--light-grey-3);
}
